StudentCampusNavigation/StudentCampusNavigation/bin/
StudentCampusNavigation/StudentCampusNavigation/obj/ARM/Debug/App.g.cs
StudentCampusNavigation/StudentCampusNavigation/obj/
StudentCampusNavigation/.vs/StudentCampusNavigation/v15/
